body {
 
  background-color: black;
}

html {
  height: 100vh;
}

a, h1, .fs {
  color: #F0A235;;
}

.fs {
  font-size: 48px;
}

.height {
  height: 100%;
}


.weather {
  
  bottom: 0;
}

.callout {
  color: white;
  font-weight: bold;
}

.size-48 {
  font-size: 32px;
}

#bg {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url(../images/PIA00407-16.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-backgr5ound-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  

  
}

#content {
  position: relative;

}

#weather-title {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 0;
  background-color: red;
  
  
}

.textcolor, .menu, a {
  color: white;
}

.top-bar, .title-bar {
  background-color: rgba(255,127,80,0.8) !important;
}

a:hover, a:focus {
  background-color: white;
}

.button:hover, .button:focus {
  background-color: white;
  color: rgba(255,127,80,0.8);
 }


.content {
  margin-top: 10px;
  margin-left: 10px;
}