body {
 
  background-color: black;
}

html {
  height: 100vh;
}

a, h1, .fs {
  color: #F0A235;;
}

.fs {
  font-size: 48px;
}

.height {
  height: 100%;
}


.weather {
  
  bottom: 0;
}

.callout {
  color: white;
  font-weight: bold;
}

.size-48 {
  font-size: 32px;
}

#bg {
  width: 100%;
  height: 100%;
  background: url(../images/PIA00407-16.jpg);
  opacity: 0;

  
}

