/* STYLING FOR THE EXPLORE PAGE */


body {
    background: url(../images/mars.jpeg) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-backgr5ound-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 100vh;
    color: white;
  }

nav {
    color: white;
    background-color: rgba(255,127,80,0.8) !important;

}

ul {
    list-style-type: none !important;
}

a {
    color: white !important;
}

main {
    margin-top: 3em;
}

img.selected {
    border: 3px solid green;
}
img:hover {
    cursor: pointer;
}

.roverexplain {

    margin-left: 20em;
    margin-right: 20em;
}

#explore-date {
    color: white;
    padding: 1em;
    width: 20em;

    margin-left: 10em;
    margin-right: 10em;

}

button {
    color: white;
    background-color: coral;
    padding: 1em;
    width: 10em;
    border-radius: 25px;
    margin: 1em;
}

.btns {
    margin-bottom: 2em;
}

@media only screen and (max-width: 1200px) {
    
    .roverexplain {
        margin: 2em;
    }
}


@media only screen and (max-width: 770px) {
    .roverexplain {
        margin: 2em;
    }
}
